# Ignore virtual environment directory
.venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore egg-info directory
*.egg-info/

# Other files to ignore
*.swp
*.tmp
